
#main p
    text-align: justify

.center
    text-align: center

footer
    font-size: 1.1em

span.hashtag
    color: lightsalmon
    font-weight: bolder

span.data
    color: salmon

    &.confirmed
        color: lightblue
    
    &.active
        color: rgba(147,112,219, 1)
    
    &.death
        color: rgba(240,0,0,0.5)

section#atribution
    p
        font-size: 1.5em

canvas#national
    width: 100% !important
    height: auto !important